{% extends 'base.html' %}

{% block title %}
About page
{%  endblock %}

{% block body %}
<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">Про проект</h1>
          <p class="lead my-3">Flask — мікрофреймворк для веб-додатків, створений з використанням Python. Його основу складає інструментарій Werkzeug та рушій шаблонів Jinja2. Поширюється відповідно до умов ліцензії BSD.

Станом на грудень 2016 року стабільна версія Flask має номер 0.12.[4] Flask використовується для розробки таких проєктів як Pinterest,[5] LinkedIn,[6] а також сторінка спільноти Flask.[7]

Flask називається мікрофреймворком, оскільки він не вимагає спеціальних засобів чи бібліотек.[8] У ньому відсутній рівень абстракції для роботи з базою даних, перевірки форм або інші компоненти, які надають широковживані функції за допомогою сторонніх бібліотек. Однак, Flask має підтримку розширень, які надають додаткові властивості таким чином, наче вони були доступні у Flask із самого початку. Існують розширення для встановлення об'єктно-реляційних зв'язків, перевірки форм, контролю процесу завантаження, підтримки різноманітних відкритих технологій аутентифікації та декількох поширених засобів для фреймворку. Розширення оновлюються частіше аніж базовий код.</p>

        </div>
      </div>
{%  endblock %}