{% extends 'base.html' %}

{% block title %}
About page
{%  endblock %}

{% block body %}
<h1>Історія гурту</h1>
<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">Історія гурту</h1>
          <p class="lead my-3">Гурт брав участь у кращих фестивалях, виступав на великих сценах, хлопці з’являлися на шпальтах кращих французьких видань, зокрема, у «Le Monde».

У 1996 році Олег Скрипка почав замислюватися над поверненням до України.

ВВ записали альбом у Парижі, відзняли кліп «Весна» у Москві і у 1997 році відбулося тріумфальне повернення гурту на Батьківщину.

Після повернення до Києва до складу ВВ повернувся ударник Сергій Сахно і увійшов новий гітарист Євген Рогачевський.

Колишній лідер гурту «Раббота Хо», Сергій Попович, був узятий на посаду саунд-продюсера. У 1997 році був підписаний довгостроковий контракт на 3 альбоми з компанією Gala Records. Цього ж року виходить альбом «Музіка» з новими суперхітами «Весна» і «Юра».

У 1998 році світ побачив диск «Країна мрій», значну частину якого склали композиції початку 90-х років. Подібній практиці «ВВ» вірні й дотепер: у нові альбоми неодмінно входить декілька архівних записів.

Наступна пластинка «Хвилі Амура» вийшла на початку 2000 року. Разом зі свіжими хітами «Любов» і «Були на селi». Сюди увійшли й декілька дуже старих пісень, наприклад, «Розмова з Махатмою», але особливо «ВВ» порадували новою композицією «День народження» — успіху пісні дуже посприяв вдалий відеокліп з сюжетом за мотивами індійських кінофільмів. Хлопці чудово виглядали в образах гарячих індійських мачо.

У 2000 році «Воплі Відоплясова» побували на гастролях в Ізраїлі та США, а також виступили у Києві біля Софії перед американським президентом Білом Клінтоном під час його офіційного візиту в Україну.

У 2006 році виходить студійний альбом «ВВ» під назвою «Були деньки», присвячений 20-річчю гурту. У січні 2007 року колектив покидає Олександр Піпа. У ювілейний тур містами України з групою вирушає новий басист Олексій Мельченко.

У 2008 році група записує рок-версію Державного гімну України, а також випускає подвійний концертний альбом, що відтворює виступ колективу на фестивалі «Рок Січ».

Напередодні 2009 року виходить сингл з новим хітом – «Ладо».

«ВВ» стають учасниками першого російського «випуску» популярного міжнародного фестивалю світової музики World of Music, Art and Dance (WOMAD) Russia, який пройшов у Кисловодську з 20 по 22 вересня 2013. Це був один з останніх масштабних виступів гурту на території Росії.

З жовтня цього ж року гурт «Воплі Відоплясова» вирушає в тур містами України в підтримку свого нового 10-го ювілейного альбому, що називається «Чудовий Світ».

«Ми починали з панк-року, потім грали етно-рок, зараз експерементуємо з електронним та оркестровим звучанням – це пошук ідеальної музичної форми, – говорить Олег Скрипка. – Якщо ти не змінюєшся, не розвиваєшся – то зупиняєшся. Потреба кожного артиста – оновлюватися, рости професійно. Навіть відомі пісні, котрі ми граємо багато років, завжди намагаємося виконувати по-новому, шукати інші варіанти подачі, аби пісня звучала яскраво», – говорить Скрипка.

В останні два роки ВВ багато гастролють світом та Україною. Були гастролях у США, Канаді, країнах Балтії, Данії, Німеччині та інших країнах.
        </div>
      </div>
{%  endblock %}